@using DataAccess.Models
@{
    TravelReviewContext context = new TravelReviewContext();
    List<User> listU = ViewBag.User;
}
<!DOCTYPE html>
<html>
<head>
    <title>Manager Account</title>
    <!-- Include Bootstrap CSS -->
    <!--====== FontAwesome css ======-->
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.min.css">
    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-success">@ViewBag.Mess</h1>
        <div style="display: flex; justify-content: space-between">
            <h1>Manager Account</h1>
            <a href="/Authentication/Logout"><i style="font-size: 30px" class="fas fa-sign-out-alt"></i></a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Account name</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                @foreach (User u in listU)
                {
                    <form asp-controller="Manager" asp-action="ManagerAccount" method="post">
                    <tr>
                            @if (u != null)
                            {
                            <input type="hidden" name="userId" value="@u.UserId">
                            }
                        <td>@u.FirstName @u.LastName</td>
                        <td>
                            <select name="role" class="form-control" id="accountType_@u.UserId">
                                <option value="0" selected="@(u.Role == 0)">Admin</option>
                                <option value="1" selected="@(u.Role == 1)">User</option>
                            </select>
                        </td>

                        <td>
                            <select name="status" class="form-control" id="accountActive_@u.UserId">
                                <option value="1" selected="@(u.Status == 1)">Ban</option>
                                <option value="0" selected="@(u.Status == 0)">Active</option>
                            </select>
                        </td>
                        <td>
                                @if (u.Role != 0)
                                {
                                <button class="btn btn-primary" type="submit">Update</button>
                                }
                        </td>
                    </tr>
                    </form>
                }
            </tbody>
        </table>
    </div>
    <!--====== Bootstrap js ======-->
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
